doctype html
html
  head
    title= titulo
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/jquery.min.css")
  body
    #titulo
     a(href="/")
      h1 Celia
     form(action="/resultados", method="get")
      input(type="text", name="s", value=params)
    #resultados
     #cima
       h5 Resultados para
       span= params
     -for(var i = 0; i < resultados.items.length; i++)
      .resultado
        a(href=resultados.items[i].link)
         h2= resultados.items[i].title
        h3= resultados.items[i].displayLink
        p= resultados.items[i].snippet