doctype html
html
  head
    title= titulo
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/magic.min.css")
    script(src="js/jquery.min.js")
    script(src="js/main.js")
  body
    #titulo
     a(href="/")
      h1 celia
     form(action="/resultados", method="get")
      input(type="text", name="s", value=params)
    #resultados
     #cima
       h5 Resultados para
       span= params
     #grid
      #wr-res
       -for(var i = 0; i < resultados.length; i++)
        - if(resultados[i].href !== null)
           .resultado
            a(href=resultados[i].href)
             h2= resultados[i].title
            h3= resultados[i].link
            p= resultados[i].description
      aside
       h1 Prefere procurar Imagens?
       br
       a(href="/imagens?s=" + params, id="irimg")
        div(id="prev")
         - for(var i = 0; i < preview.length; i++)
            img(src=preview[i].thumb)